/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
      /* font-family: "Alegreya Sans", sans-serif; */
        font-family: "Cairo", sans-serif;

}

.box {
    width: 100%;
    height: 90vh;
    background: gray;
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0% 100%);
}
/* .animation {
    width: 200px;
    height: 200px;
    margin: 200px auto;
    animation: colors 1s infinite;
} */

/* @keyframes colors {
    10% {background: red;rotate: 100deg;}
    30% {background: green;scale: 2 2;}
    60% {background: orange; translate: 100px;border-radius: 50%;}
    80% {background: gray; rotate: -200deg;}
    100% {background: yellow; transform: skew(10deg);}
} */


/* @keyframes colors {
    from {background-image: url("img/4681157-200.png");}
    to {background-image: url("img/download.png");}
} */


/* .goto {
    width: 55px;
    height: 90px;
    border: 1px solid black;
    margin: 200px auto;
    border-radius: 20px;
    position: relative;
}

.circle {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%);
    animation: move 1s infinite;
}

@keyframes move {
    from {top: 20%;}
    to {top: 60%;opacity: 0;}
} */

.text {
    overflow: hidden;
    width: 0px;
    height: 60px;
    margin: 100px auto;
    font-size: 50px;
    animation: 1s typing infinite steps(20);
    text-wrap: nowrap;
    border-right: 2px solid black;
}

@keyframes typing {
    from {width: 0px;}
    to {width: 300px;}
}